<p>
  <strong>Displaying Workout</strong>
</p>
<p>
  <strong>Name:</strong>
  <%= @workout.name %>
</p>
 
<p>
  <strong>Group:</strong>
  <%= @workout.group %>
</p>
<h2>Exercises</h2>
<% @workout.excercises.each do |excercise| %>
    <p>
        <strong>Exercise Name:</strong>
        <%= excercise.setrep %>
    </p>
    
    
    <p>
        <strong>Exercise Info:</strong>
        <%= excercise.box11 %>
        <%= excercise.box12 %>
        <%= excercise.box13 %>
        <%= excercise.box21 %>
        <%= excercise.box22 %>
        <%= excercise.box23 %>
    </p>
<% end %>
<h2>Add an exercise:</h2>
<%= form_for([@workout, @workout.excercises.build]) do |f| %>
  <p>
    <%= f.label :Name %>
    <%= f.text_field :setrep %>
  </p>
   <%= f.label :Weight %><br>
   <%= f.label :Reps %><br>
  <p>
    <%= f.label :Set_1 %>
  </p>
  <p>
    <%= f.text_area :box11 %>
  </p>
  <p>
    <%= f.text_area :box21 %>
  </p>
  <p>
    <%= f.label :Set_2 %>
  </p>
  <p>
    <%= f.text_area :box12 %>
  </p>
  <p>
    <%= f.text_area :box22 %>
  </p>  
  <p>
    <%= f.label :Set_3 %>
  </p>
  <p>
    <%= f.text_area :box13 %>
  </p>

  <p>
    <%= f.text_area :box23 %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Workout List', workouts_path %>