<p>
  <strong>Displaying Workout</strong>
</p>
<p>
  <strong>Name:</strong>
  <%= @workout.name %>
</p>
 
<p>
  <strong>Group:</strong>
  <%= @workout.group %>
</p>
<h2>Exercises</h2>
<% @workout.excercises.each do |setrep| %>
    <p>
        <strong>Exercise Name:</strong>
        <%= excercise.text %>
    </p>
    
    
    <p>
        <strong>Exercise Info:</strong>
        <%= setrep.box11 %>
        <%= setrep.box12 %>
        <%= setrep.box13 %>
        <%= setrep.box21 %>
        <%= setrep.box22 %>
        <%= setrep.box23 %>
        <%= setrep.box31 %>
        <%= setrep.box32 %>
        <%= setrep.box33 %>
    </p>
<% end %>
<h2>Add an exercise:</h2>
<%= form_for([@workout, @workout.excercises.build]) do |f| %>
  <p>
    <%= f.label :setrep %><br>
    <%= f.text_field :setrep %>
  </p>
  <p>
    <%= f.text_area :box11 %>
  </p>
    <p>
    <%= f.text_area :box12 %>
  </p>
    <p>
    <%= f.text_area :box13 %>
  </p>
    <p>
    <%= f.text_area :box21 %>
  </p>
    <p>
    <%= f.text_area :box22 %>
  </p>
    <p>
    <%= f.text_area :box23 %>
  </p>
    <p>
    <%= f.text_area :box31 %>
  </p>
    <p>
    <%= f.text_area :box32 %>
  </p>
    <p>
    <%= f.text_area :box33 %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Workout List', workouts_path %>