    <p>
        <strong>Exercise Name:</strong>
        <%= excercise.setrep %>
    </p>
 
    
    <p>
        <strong>Exercise Info:</strong>
        <br> Weight: 
        <%= excercise.box11 %>
        &nbsp;&nbsp;Reps: 
        <%= excercise.box12 %>
        <br> Weight: 
        <%= excercise.box13 %>
        &nbsp;&nbsp;Reps: 
        <%= excercise.box21 %>
        <br> Weight: 
        <%= excercise.box22 %>
        &nbsp;&nbsp;Reps: 
        <%= excercise.box23 %>
    </p>
        <td><%= link_to 'Edit Exercise', edit_workout_excercise_path(excercise) %></td> 