<%= form_for([@workout, @workout.excercises.build]) do |f| %>
<table style="width:100%">
  <tr>
    <th><%= f.text_field :setrep %></th>
    <th>Weight</th> 
    <th>Reps</th>
  </tr>
  <tr>
    <td>Set 1</td>
    <td><%= f.text_area :box11 %></td>
    <td><%= f.text_area :box21 %></td>
  </tr>
  <tr>
    <td>Set 2</td>
    <td><%= f.text_area :box12 %></td>
    <td><%= f.text_area :box22 %></td>
  </tr>
  <tr>
    <td>Set 3</td>
    <td><%= f.text_area :box13 %></td>
    <td><%= f.text_area :box23 %></td>
  </tr>
</table>
  <p>
    <%= f.submit %>
  </p>
<% end %>